<?xml version="1.0"?>
<robot name="ur3" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="grasp_plugin" default="false" />
  <xacro:arg name="peg_shape" default="cylinder" />

  <xacro:include filename="$(find ur3_description)/urdf/ur3_joint_limited_robot.urdf.xacro" />
  
  <link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/gripper/$(arg peg_shape)_gripper.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/gripper/$(arg peg_shape)_gripper.dae" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0   0  0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1" ixy="0" ixz="0" 
               iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-pi/2.0} 0 0" />
    <parent link="tool0"/>
    <child link="robotiq_coupler"/>
  </joint>
  <gazebo reference="robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/Bricks</material>
  </gazebo>

  <!-- Equivalent to the OpenRAVE manipulator denso_robotiq_85_gripper -->
  <link name="ur3_robotiq_85_gripper" />
  <joint name="manipulator_dummy_joint" type="fixed">
    <origin xyz="0 0 0.1441" rpy="0 0 0" />
    <parent link="robotiq_coupler"/>
    <child link="ur3_robotiq_85_gripper"/>
  </joint>
    
  <!-- Attach the robotiq 85 gripper -->
  <!-- <xacro:robotiq_85_gripper prefix="" parent="gripper_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>  -->
  
  <!-- Gazebo FT sensor plugin -->
  <gazebo reference="wrist_3_link-tool0_fixed_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>wrench</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>wrist_3_link-tool0_fixed_joint</jointName>
    </plugin>
  </gazebo>
  
</robot>
