<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find ur3_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <!-- Launch file parameters -->
  <arg name="paused"     default="false"/>
  <arg name="debug"      default="false"/>
  <arg name="gui"        default="true"/>
  <arg name="rate"       default="125" />
  <arg name="world_name" default="$(find ur3_gazebo)/worlds/bunri.world" />
  <arg name="effort_interface" default="false"/>

  
  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
    <!-- <arg name="physics"    value="bullet"/> -->
  </include>

  <!-- Send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur3_description)/urdf/ur3_joint_limited_robot.urdf.xacro'  use_effort_interface:=$(arg effort_interface)" />
  <!-- Spawn robot in gazebo (and move it upwards):
       better initial values should be -2.355 and 1.57 but the robot does
       something strange when unpausing it
  -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model robot 
              -x 0.0 -y 0.2587 -z 1.6085
              -R 2.356 -Y 3.1415"
        output="screen" />

</launch>
