<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find ur3_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <!-- Launch file parameters -->
  <arg name="paused"     default="true"/>
  <arg name="debug"      default="false"/>
  <arg name="gui"        default="true"/>
  <arg name="rate"       default="125" />
  <arg name="world_name" default="$(find ur3_gazebo)/worlds/ur3e_dual.world" />
  <arg name="effort_interface" default="false"/>
  <arg name="grasp_plugin" default="false"/>
  <arg name="dual" default="false"/>

  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
  </include>

  <!-- Send robot urdf to param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find ur3_description)/urdf/ur3e/ur3e_robotiq85_gripper.urdf.xacro'
                 use_effort_interface:=$(arg effort_interface) grasp_plugin:=$(arg grasp_plugin)" />
  <!-- FOR DUAL ROBOT -->
  <group if = "$(arg dual)">
    <!-- BEGIN ROBOT 1-->
    <include file="$(find ur_control)/launch/ur3e_controllers.launch">
      <arg name="effort_interface" value="$(arg effort_interface)"/>
      <arg name="robot_name" value="leftarm"/>
    </include>
    <group ns="leftarm">
      <param name="tf_prefix" value="leftarm_tf" />
      <include file="$(find ur3_gazebo)/launch/single_ur3e.launch" >
        <arg name="init_pose" value="-x 0.066369 -y 0.359556 -z 1.325140 -R 1.5707 -Y -1.5707
                -J shoulder_pan_joint -3.1416
                -J shoulder_lift_joint -1.5707
                -J elbow_joint 0
                -J wrist_1_joint 0
                -J wrist_2_joint 0
                -J wrist_3_joint 0.0
                " />
        <arg name="robot_name"  value="leftarm" />
        <arg name="effort_interface" value="$(arg effort_interface)"/>
      </include>
    </group>

      <!-- BEGIN ROBOT 2-->
    <include file="$(find ur_control)/launch/ur3e_controllers.launch">
      <arg name="effort_interface" value="$(arg effort_interface)"/>
      <arg name="robot_name" value="rightarm"/>
    </include>
    <group ns="rightarm">
      <param name="tf_prefix" value="rightarm_tf" />
      <include file="$(find ur3_gazebo)/launch/single_ur3e.launch" >
        <arg name="init_pose" value="-x 0.066369 -y -0.330 -z 1.325140 -R 1.5707 -Y -1.5707
                -J shoulder_pan_joint -3.1416
                -J shoulder_lift_joint -1.5707
                -J elbow_joint 0
                -J wrist_1_joint 0
                -J wrist_2_joint 0
                -J wrist_3_joint 0.0
                " />
        <arg name="robot_name"  value="rightarm" />
        <arg name="effort_interface" value="$(arg effort_interface)"/>
      </include>
    </group>
  </group>
  <group unless = "$(arg dual)">
    <include file="$(find ur_control)/launch/ur3e_controllers.launch">
        <arg name="effort_interface" value="$(arg effort_interface)"/>
    </include>
    <!-- Spawn robot in gazebo (and move it upwards):
        better initial values should be -2.355 and 1.57 but the robot does
        something strange when unpausing it
    -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model robot 
                -x 0.066369 -y -0.330 -z 1.325140 -R 1.5707 -Y -1.5707
                -J shoulder_pan_joint -3.1416
                -J shoulder_lift_joint -1.5707
                -J elbow_joint 0
                -J wrist_1_joint 0
                -J wrist_2_joint 0
                -J wrist_3_joint 0.0
                "
          output="screen" />
  </group>

</launch>
