<launch>
  <arg name="ur_robot" default="ur3"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro joint_limit_params:='$(find ur_description)/config/$(arg ur_robot)/joint_limits.yaml'
                                                                                           kinematics_params:='$(find ur_description)/config/$(arg ur_robot)/default_kinematics.yaml'
                                                                                           physical_params:='$(find ur_description)/config/$(arg ur_robot)/physical_parameters.yaml'
                                                                                           visual_params:='$(find ur_description)/config/$(arg ur_robot)/visual_parameters.yaml'
                                                                                           transmission_hw_interface:=hardware_interface/PositionJointInterface
                                                                                           safety_limits:=false
                                                                                           safety_pos_margin:=0.15
                                                                                           safety_k_position:=20
                                                                                           dual_arm:=true
                                                                                           grasp_plugin:=false
                                                                                           '$(find ur3_gazebo)/urdf/ur_gripper_85.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find ur_gripper_85_moveit_config)/config/ur_robot_gazebo.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find ur_gripper_85_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find ur_gripper_85_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ur_gripper_85_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
