<?xml version="1.0" ?>
<model>
    <name>Apriltag36_11_00000</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Kenji Koide</name>
       <email>koide@dei.unipd.it</email>
      </author>
    
    <description>Apriltag model</description>
</model>

