<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />

  <!-- <include file="$(find ur_description)/launch/load_ur3e.launch"/> -->
  <!-- <include file="$(find ur_gazebo)/launch/inc/load_ur3e.launch.xml"/> -->
  <include file="$(find ur3_gazebo)/launch/inc/load_ur.launch.xml"/>

  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur3_description)/config/ur5.rviz" required="true" />
</launch>
