<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />
  
  <arg name="robot_description_file" default="$(find ur3_gazebo)/launch/inc/load_ur_gripper_85.launch.xml" 
                                     doc="Launch file which populates the 'robot_description' parameter."/>
  <arg name="ur_robot" default="ur3"/>

  <!-- Load urdf on the parameter server -->
  <include file="$(arg robot_description_file)">
    <arg name="ur_robot" value="$(arg ur_robot)"/>
  </include>

  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur3_description)/config/config.rviz" required="true" />

</launch>
