<?xml version="1.0"?>
<launch>
  <!-- Launch file parameters -->
  <arg name="debug"     default="true" />
  <arg name="effort_interface"     default="false" />
  <arg name="robot_name"     default="" />

  <arg if=      "$(arg debug)"  name="DEBUG" value="screen"/>
  <arg unless = "$(arg debug)"  name="DEBUG" value="log"/>

  <!-- Controllers config -->
  <rosparam unless = "$(arg effort_interface)" file="$(find ur_control)/config/ur3e_controllers.yaml" command="load" ns="$(arg robot_name)"/>
  <rosparam if =     "$(arg effort_interface)" file="$(find ur_control)/config/ur3e_controllers_effort.yaml" command="load" ns="$(arg robot_name)"/>

  <!-- <arg name="stopped_controllers" default="pos_based_pos_traj_controller joint_group_vel_controller vel_based_pos_traj_controller"/> -->

  <!-- Load controllers -->
  <node name="robot_controllers_$(arg robot_name)" pkg="controller_manager" type="spawner" respawn="false"
        output="$(arg DEBUG)"
        args="--namespace=$(arg robot_name) joint_state_controller arm_controller"/>

  <!-- TF -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher_$(arg robot_name)"> 
    <param name="publish_frequency"  type="double" value="50" />
  </node>
</launch>
