<launch>
    <arg name="robot_ip" default="10.0.2.3" doc="The IP address of the UR5 robot" />

    <!-- start the robot -->
    <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch">
        <arg name="tf_prefix" value="" />
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="kinematics_config" value="/root/dev/tools/my_robot_calibration.yaml" />
    </include>
</launch>