<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur_robot">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>

  <!--Declare arguments -->
  <xacro:arg name="joint_limit_params" default=""/>
  <xacro:arg name="physical_params" default=""/>
  <xacro:arg name="kinematics_params" default=""/>
  <xacro:arg name="visual_params" default=""/>
  <!--
    legal values:
      - hardware_interface/PositionJointInterface
      - hardware_interface/VelocityJointInterface
      - hardware_interface/EffortJointInterface
    NOTE: this value must correspond to the controller configured in the
          controller .yaml files in the 'config' directory.
  -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- Instantiate the Gazebo robot and pass it all the required arguments. -->
  <xacro:ur_robot
    prefix=""
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
  />

  <!-- Gripper -->

  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <xacro:robotiq_85_gripper prefix="" parent="tool0">
      <origin rpy="0.0 ${-pi/2} ${pi/2}" xyz="0.01 0 0"/> <!-- This 0.01 offset is the Robotiq/UR coupling -->
  </xacro:robotiq_85_gripper>

  <link name="coupling">
    <visual>
      <origin rpy="0 0 0" xyz=".005 0 0"/>
      <geometry>
        <cylinder length="0.01" radius="0.0375"/>
      </geometry>
      <material name="black">
      <color rgba=".1 .1 .1 1"/>
    </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz=".005 0 0"/>
      <geometry>
        <cylinder length="0.01" radius="0.0375"/>
      </geometry>
    </collision>
  </link>
  <joint name="coupling_joint" type="fixed">
    <parent link="tool0" />
    <child link = "coupling" />
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  
</robot>